.content_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 5.4rem;
}

.content_box span {
  color: var(--orange-hover);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.content_box h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0.1429rem;
  text-transform: uppercase;
  color: var(--dark-black);
}

.content_box p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #979797;
  line-height: 2.5rem;
  max-width: 44.5rem;
}

.btn {
  background-color: var(--orange-hover);
  color: var(--dark-white);
  border: none;
}

.btn:hover {
  background-color: var(--orange-light);
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 63.75em) {
  .content_box {
    order: 2;
    align-items: center;
    text-align: center;
  }

  .content_box h2 {
    text-align: center;
  }
  .content_box p {
    text-align: center;
  }
}
