.info__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  max-width: 111rem;
  max-height: 58.8rem;
  margin: 2rem auto;
  padding: 0 4rem;
}

.info__content__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
  padding-bottom: 3.4rem;
}

.info__content__box h2 {
  font-size: 4.6rem;
  letter-spacing: 0.08931rem;
  line-height: 4.4rem;
  font-weight: 700;
}

.info__content__box strong {
  color: var(--orange-hover);
}

.info__content__box span {
  font-size: 1.7rem;
  font-weight: 450;
  line-height: 2.4rem;
  color: #979797;
}

.picture {
  max-width: 54rem;
  max-height: 58.8rem;
  border-radius: 9px;
}

.info__img {
  width: 100%;
  height: auto;
  border-radius: 9px;
}

@media (max-width: 54rem) {
  .info__section {
    column-gap: 2rem;
  }

  .picture {
    max-width: 40rem;
    max-height: 52rem;
  }
}

@media (max-width: 50em) {
  .info__section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5rem;
    margin: 0 auto;
  }

  .picture {
    max-width: 68.9rem;
    margin: 0 auto;
  }

  .info__content__box {
    grid-row: 2;
  }

  .info__content__box h2,
  .info__content__box span {
    text-align: center;
    max-width: 68.9rem;
  }
}

@media (max-width: 36em) {
  .info__section {
    padding: 0 2rem 0 2rem;
    max-height: auto;
  }
}

@media (max-width: 29.75em) {
  .info__section {
    max-height: none;
  }
}
@media (max-width: 23.5em) {
  .info__section {
    padding: none;
  }

  .info__content__box h2,
  .info__content__box span {
    max-width: 32.7rem;
  }

  .info__content__box h2 {
    font-size: 2.8rem;
  }

  .info__content__box span {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
