.footer {
  margin-top: 4rem;
  background-color: var(--lighter-black);
}

.header__logo {
  margin-top: 5.6rem;
}

.footer__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 111rem;
  margin: 0 auto;
  background-color: var(--lighter-black);
  padding: 0rem 0 3rem 0;
}

.footer__content__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__content__box span,
.footer__content__box p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #979797;
}

.footer__content__box span {
  max-width: 52rem;
  padding-top: 1rem;
}

.footer__content__box p {
  padding-top: 1.8rem;
  font-weight: 500;
}

.footer__help__box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
}

.footer__help__box ul {
  margin-top: 5.6rem;
}

.footer__social__ul {
  display: flex;
  gap: 2rem;
  margin-top: auto !important;
  margin-left: auto;
}

.footer__social__ul li:hover svg path {
  transition: all 0.3s ease;
  cursor: pointer;
  fill: var(--orange-hover);
}

@media (max-width: 40em) {
  .footer {
    margin-bottom: 0;
    width: 100%;
    position: relative;
  }
  .footer__box {
    display: block;
    padding: 0 4rem 4rem 4rem;
  }

  .header__logo {
    margin-bottom: 4.5rem;
  }

  .footer__content__box span {
    font-size: 1.5rem;
    width: 68.9rem;
    line-height: 2.5rem;
  }

  .ul {
    position: absolute;
    top: 17%;
    left: 6%;
  }

  .footer__social__ul {
    position: absolute;
    right: 5%;
    bottom: 11%;
  }
}
