.mobile__nav__btn {
  display: none;
  border: none;
  background: none;
}
.responsive__nav {
  display: none;
}

.header {
  position: fixed;
  margin: 0 auto;
  background-color: var(--lighter-black);
  z-index: 1000000000000000000000000000000000000000000;
  top: 0;
  width: 100%;
}

.main_logo svg path {
  fill: var(--dark-white);
}

.header__logo {
  width: 14.3rem;
  height: 2.5rem;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 4rem 0;
  border-bottom: 0.5px solid #979797;
  max-width: 111rem;
  margin: 0 auto;
}

.nav__border {
  border-bottom: 0.5px solid var(--lighter-black);
}

.cart__img {
  width: 2.3rem;
  height: 2rem;
}

.icons {
  display: flex;
  gap: 2rem;
}

.icons button {
  background: none;
  border: none;
}

.icons svg:hover,
.icons img:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 150vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 122;
}

.btn {
  background: none;
  border: none;
}

.log__btn {
  background-color: var(--orange-hover);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

/* 1330px */

@media (max-width: 71em) {
  .header {
    padding: 0 6.4rem;
  }
}

/* 800px */

@media (max-width: 50em) {
  .header {
    padding: 0 3.4rem;
  }
  .nav__ul {
    display: none;
  }

  .main_logo {
    margin-right: auto;
    padding-left: 2rem;
  }

  .mobile__nav__btn {
    display: block;
    cursor: pointer;
  }

  .responsive__nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 1000000000000000000000000000000000;
    background-color: var(--dark-white);
    max-height: 34rem;
    /* max-width: 100%; */
    width: 100%;
    padding-bottom: 12.4rem;
  }
}
