.nav__ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  text-decoration: none;
}

.nav__li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__li a:hover {
  color: var(--orange-hover);
  transition: all 0.3s ease;
}

/* 930px */

@media (max-width: 58em) {
  .nav__li a {
    font-size: 1.4rem;
  }
}

/* 800px */

@media (max-width: 50em) {
  .nav__ul {
    gap: 2rem;
  }
}
