.empty__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  gap: 2.4rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 12.8rem;
}

.empty__cart p {
  font-size: 2.4rem;
}

.continue_btn {
  background-color: var(--orange-hover);
  color: var(--dark-white);
  border: none;
  font-weight: 550;
  width: 20rem !important;
  font-size: 1.4rem;
}

.continue_btn:hover {
  transition: all 0.3s ease;
  background-color: var(--orange-light);
}

@media (max-width: 31.25em) {
  .empty__cart {
    padding: 8rem;
  }
}
