.category__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 6.8rem 0;
  column-gap: 6rem;
}

.category__item img {
  max-width: 54rem;
  border-radius: 9px;
}

@media (max-width: 66.3em) {
  .category__item {
    column-gap: 2rem;
  }
}

@media (max-width: 63.75em) {
  .category__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem 0;
  }

  .category__item picture {
    order: 0;
  }
}

@media (max-width: 50em) {
  .category__item picture {
    max-height: 75.2rem;
    padding: 0 2rem;
  }

  .category__item img {
    width: 100%;
    height: auto;
  }
}
