.showcase__section {
  margin: 0 auto;
  padding: 0rem 4rem 7.4rem 4rem;
}

.showcase__speaker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  place-items: center;
  column-gap: 8.6rem;
  background-color: var(--orange-hover);
  background-image: url(../../../public/assets/home/desktop/pattern-circles.svg);
  background-position: -145px -50px;
  background-repeat: no-repeat;
  max-width: 111rem;
  padding: 0 12.8rem;
  border-radius: 9px;
}

.showcase__speaker__img__box {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.speaker__img {
  max-width: 41rem;
  margin: auto 0 0;
  position: relative;
  bottom: -2rem;
}

.showcase__speaker__content__box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translate(17%, -10%);
}

.showcase__speaker__content__box h2 {
  font-size: 5.6rem;
  letter-spacing: 1.5px;
  color: var(--dark-white);
}

.showcase__speaker__content__box span {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 200;
  color: var(--dark-white);
}

.showcase__btn {
  background-color: var(--dark-black);
  color: var(--dark-white);
  border: none;
  margin-top: 2rem;
}

.showcase__btn:hover {
  transition: all 0.3s ease;
  background-color: #4c4c4c;
}

/* SECOND SPEAKER */

.showcase__second__speaker {
  display: flex;
  align-items: center;
  margin: 6rem auto;
  max-width: 111rem;
  height: 32rem;
  border-radius: 9px;
  background-size: cover;
  background-image: url(../../../public/assets/home/desktop/image-speaker-zx7.jpg);
}

.showcase__second__content__box {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.4rem;
  gap: 2rem;
  transform: translate(35%, 0);
}

.showcase__second__content__box h3 {
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.showcase__second__btn {
  background: none;
  border: 1.7px solid var(--dark-black);
}

.showcase__second__btn:hover {
  transition: all 0.3s ease;
  background-color: var(--dark-black);
  color: var(--dark-white);
}

/* Earphones */

.showcase__third__earphones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem auto;
  column-gap: 2rem;
  max-width: 111rem;
  height: 32rem;
  border-radius: 9px;
}

.showcase__third__img {
  border-radius: 9px;
  max-width: 54rem;
  max-height: 32rem;
}

.showcase__third__content__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  background-color: var(--white);
  border-radius: 9px;
  padding-left: 7.4rem;
}

.showcase__third__content__box h3 {
  font-size: 3.2rem;
  letter-spacing: 1px;
}

@media (max-width: 58em) {
  .showcase__third__content__box {
    padding-left: 1rem;
    gap: 2rem;
  }

  .showcase__third__content__box h3 {
    font-size: 2.8rem;
  }
}

@media (max-width: 50em) {
  .showcase__section {
    padding-bottom: 2rem;
  }

  .showcase__speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.4rem 0;
    height: auto;
    gap: 6rem;
    background-position: -13.5rem -32rem;
  }

  .showcase__speaker__content__box h2 {
    max-width: 26.1rem;
    text-align: center;
    line-height: 1;
  }

  .showcase__speaker__img__box {
    height: auto;
  }

  .speaker__img {
    bottom: 0;
    position: static;
    max-width: 19.721rem;
    max-height: 23.7rem;
  }

  .showcase__speaker__content__box {
    align-items: center;
    transform: none;
    padding-bottom: 2rem;
  }

  .showcase__speaker__content__box span {
    max-width: 34.9rem;
    text-align: center;
    padding: 2rem 0;
  }

  .showcase__btn {
    margin-top: 0;
  }

  .showcase__second__speaker {
    background-image: url(../../../public/assets/home/tablet/image-speaker-zx7.jpg);
  }

  .showcase__second__content__box {
    transform: translate(25%, 0);
  }


  .showcase__third__img {
    max-width: 33.9rem;
    max-height: 32rem;
  }
}

@media (max-width: 41em) {

  .showcase__speaker {
    background-position: -14.5rem -32rem;
  }

  .showcase__third__content__box {
    gap: 1.4rem;
    padding-left: 2rem;
  }

  .showcase__second__content__box h3 {
    font-size: 2.8rem;
    width: 10rem;
  }

  .showcase__third__content__box h3 {
    font-size: 2.8rem;
    width: 20rem;
  }
}

@media (max-width: 41em) {
  .showcase__speaker {
    background-position: -14.5rem -32rem;
  }
}

@media (max-width: 36em) {
  .showcase__section {
    padding: 0 2rem 0 2rem;
  }
  .showcase__speaker {
    background-position: -18.6rem -32rem;
  }

  .showcase__third__earphones {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }

  .showcase__second__speaker {
    background-position: -8.6rem -32rem;
  }

  .showcase__third__img {
    max-width: 56.7rem;
    width: 100%;
  }
  .showcase__third__content__box {
    padding: 3.4rem 4.2rem 3.4rem 4.2rem;
  }

  .showcase__third__content__box h3 {
    font-size: 3.2rem;
    width: 100%;
  }
}

@media (max-width: 23.5em) {
  .showcase__speaker {
    background-position: -13.6rem -13rem;
    gap: 2rem;
    background-size: cover;
  }

  .showcase__speaker__img__box {
    max-width: 17.2rem;
    max-height: 20.7rem;
  }

  .speaker__img {
    max-width: 17.2rem;
    max-height: 20.7rem;
  }

  .showcase__speaker__content__box h2 {
    font-size: 4.4rem;
  }

  .showcase__speaker__content__box span {
    width: 28rem;
  }
  .showcase__second__speaker {
    background-position-x: -16.6rem;
    background-size: cover;
  }

  .showcase__second__content__box {
    transform: none;
    gap: 2rem;
    padding-left: 1rem;
  }

  .showcase__second__content__box h3 {
    width: 25rem;
    font-size: 2.8rem;
  }


  .showcase__third__content__box h3 {
    font-size: 2.8rem;
    width: 100%;
  }
}
