.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
}

.label__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.forgot {
  margin-left: auto;
  color: #6328e0;
  font-weight: 800;
  border-bottom: 0.2px solid var(--light-white);
}

.forgot:hover {
  border-bottom: 0.2px solid #6328e0;
  cursor: pointer;
}

.label__container label {
  font-size: 2rem;
  font-weight: 600;
  margin-right: auto;
  padding-bottom: 0.5rem;
  justify-content: flex-start;
}

.input__container {
  display: flex;
  gap: 1rem;
  width: 100%;
  border: 2px solid #cfcfcf;
  border-radius: 9px;
  padding: 1rem;
}

.input__container button {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
}

.input__container button:hover {
  cursor: pointer;
}

.input__container svg {
  width: 30px;
  height: 30px;
}

.input__container svg path {
  fill: var(--dark-white);
}

.input__container input {
  border: none;
  background: var(--light-white);
  outline: var(--orange-hover);
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 600;
  width: 100%;
}

.input__error {
  border: 2px solid #cc0000;
  transition: all 0.3s;
}

.error__input {
  margin-right: auto;
  color: #cc0000;
  font-size: 1.4rem;
  position: absolute;
  bottom: -17%;
  left: 0%;
  transition: all 0.3s;
}

@media (max-width: 30em) {
  .label__container label {
    font-size: 1.8rem;
  }
  .container {
    padding-top: 2.4rem;
  }
  .error__input {
    font-size: 1.2rem;
  }

  .forgot {
    font-size: 1.4rem;
  }
}
