.ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0rem 4rem 13rem 4rem;
  list-style: none;
}

.container {
  height: 52.7rem;
  border-radius: 9px;
}

.skeleton {
  background-color: var(--loading-grey);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

@media (max-width: 49em) {
  .container {
    max-height: 65rem;
    border-radius: 9px;
  }
}

@media (max-width: 27em) {
  .ul {
    padding: 0 2rem;
  }
}
