.detail__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 9.8rem;
  padding: 0rem 4rem 9.8rem 4rem;
}

.picture {
  max-width: 54rem;

  border-radius: 9px;
}

.img {
  width: 100%;
}

.detail__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 5.4rem;
}

.detail__content span {
  color: var(--orange-hover);
  font-size: 2.4rem;
  letter-spacing: 8px;
}

.detail__content h2 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: var(--dark-black);
}

.detail__content p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #979797;
  max-width: 44.5rem;
}

.back__btn {
  border: none;
  background: none;
  font-size: 1.5rem;
  font-family: inherit;
  color: var(--lighter-black);
  font-weight: 400;
  padding: 5rem 4rem;
}

.back__btn:hover {
  transition: all 0.3s ease;
  color: var(--orange-hover);
  cursor: pointer;
}

.detail__content strong {
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 800;
}

.detail__btn {
  border: none;
  background-color: var(--orange-hover);
  color: var(--dark-white);
}

.detail__btn:hover {
  background-color: var(--orange-light);
}

.detail__add__to__cart {
  display: flex;
  gap: 2rem;
}

@media (max-width: 49.75em) {
  .picture {
    /* max-width: 28rem; */
    /* max-height: 48rem;
    height: 100%; */
  }

  .img {
    max-height: 48rem;
  }

  .detail__content {
    max-width: 37rem;
  }
}

@media (max-width: 43.75em) {
  .detail__container {
    display: flex;
    flex-direction: column;
  }
}
