.detail__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 9.8rem;
  padding: 0rem 4rem 9.8rem 4rem;
}

.picture {
  border-radius: 9px;
}

.img {
  width: 100%;
}

.detail__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 5.4rem;
}

.detail__content span {
  color: var(--orange-hover);
  font-size: 2.4rem;
  letter-spacing: 8px;
}

.detail__content h2 {
  font-size: 4rem;
  line-height: 4rem;
  max-width: 20rem;
  text-transform: uppercase;
  color: var(--dark-black);
}

.detail__content p {
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 44.5rem;
}

.detail__content strong {
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 800;
}

.detail__btn {
  border: none;
  background-color: var(--orange-hover);
  color: var(--dark-white);
}

.detail__btn:hover {
  background-color: var(--orange-light);
}

.detail__add__to__cart {
  display: flex;
  gap: 2rem;
}

@media (max-width: 50em) {
  .detail__content {
    max-width: 34rem;
    padding: 3rem;
  }
}

@media (max-width: 43.75em) {
  .detail__container {
    display: flex;
    flex-direction: column;
  }

  .img {
    height: auto;
    object-fit: cover;
  }

  .detail__content {
    padding: 3rem 0;
    max-width: 100%;
  }

  .detail__content h2 {
    font-size: 4.6rem;
    line-height: 5.4rem;
    max-width: 20rem;
  }

  .detail__content p {
    font-size: 1.8rem;
    padding: 1rem 0;
    max-width: 100%;
  }

  .detail__content strong {
    font-size: 2.4rem;
  }
}
